h1 {
    font-family: 'Peralta', sans-serif;
    text-align: center;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
    padding-bottom: 10px;
}

div#container {
    height: 600px;
    position: relative;
    margin-top: 20px;
}

div#descrip {
    border: 1px solid #454545;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 600px;
    position: relative;
    margin: 0 auto;
    background-color: #f1f1f1;
}

div#word {
    vertical-align: text-bottom;
}

div p {
    font-family: 'Gilda Display', sans-serif;
    font-weight: 400;
    line-height: 1.15;
    text-align: center;
    margin: 0;
}

h1#linguist {
    font-size: 0px;
}
