<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <link rel=stylesheet type=text/css href="/static/global.css">
        <link rel=stylesheet type=text/css href="/static/forms.css">
        <link href='http://fonts.googleapis.com/css?family=Peralta|Josefin+Sans' rel='stylesheet' type='text/css'>
        <title>Linguist</title>
    </head>

    <body>
        <div id="topbar">
            {% if username %}
                <a href={{username_link}}>{{username}}</a> |
                <a href="/logout">logout</a>
            {% endif %}
        </div>
        <h1>Linguist</h1>
        {% if logged_in %}
            <h3>You are already logged in!</h3>
            <br>
            <a href="#" onclick="window.history.back();return false;">back</a>
        {% else %}
            <h3>Login</h3>
            {{error}}
            <form name="input" action="/login.html" method="post">
                Username: <input id="normal" type="text" name="username">
                <br>
                Password: <input id="normal" type="password" name="password">
                <br>
                <input type="submit" value="Submit">
            </form>
            <a href="/register.html">Not registered yet?</a>
        {% endif %}
    </body>

</html>

