<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <link rel=stylesheet type=text/css href="/static/global.css">
        <link rel=stylesheet type=text/css href="/static/main.css">
        <link href='http://fonts.googleapis.com/css?family=Peralta|Josefin+Sans' rel='stylesheet' type='text/css'>
        <title>Linguist</title>
    </head>

    <body>
        <div id="topbar">
            {% if not username %}
                <a href="login.html">login</a> | 
                <a href="register.html">register</a>
            {% else %}
                <a href={{username_link}}>{{username}}</a> |
                <a href="/logout">logout</a>
            {% endif %}
        </div>
        <div id="search">
            <h1 id="linguist">Linguist</h1>
            <form autocomplete="off" name="input" action="/lookup" method="post">
                <input type="text" name="word">
            </form>
        </div>
        <br>
        <br>
    </body>

</html>

