<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">-->
        <title>Linguist</title>
    </head>

    <body>
        <h1>Linguist</h1>
        <form name="input" action="/add" method="post">
            <input type="text" name="word">
            <input type="submit" value="Submit">
        </form>
        <br>
        <br>
        <a href="login.html">login/register here</a>
    </body>

</html>

