<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">-->
        <link href='http://fonts.googleapis.com/css?family=Peralta' rel='stylesheet' type='text/css'>
        <title>{{user}}</title>
    </head>

    <body>
        <h1>{{user}}</h1>
        <ul>Name: {{fname}} {{lname}}</ul>
        <ul>Email: {{email}}</ul>
        <ul>Score: {{score}}</ul>
        <table>
            <thread>
                <th>Words</th>
                <th>Scores</th>
            </thread>
            <tbody>
                {% for i in range(length) %}
                    <tr>
                        <td>{{words[i]}}</td>
                        <td>{{scores[i]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="#" onclick="window.history.back();return false;">&lt;&lt; back</a>
    </body>

</html>

